.Rhistory
/Big Data Analytics com R e Microsoft Azure Machine Learning/04 - Usando R para Importação e Limpeza de Dados/Linguagem SQL.txt
/Big Data Analytics com R e Microsoft Azure Machine Learning/04 - Usando R para Importação e Limpeza de Dados/pedidos.txt
/Big Data Analytics com R e Microsoft Azure Machine Learning/04 - Usando R para Importação e Limpeza de Dados/zips.json
